html,body,h1,h2,h3,h4,h5,h6 {
    font-family: "Roboto", sans-serif;
}

.w3-sidebar {
    z-index: 3;
    width: 250px;
    top: 43px;
    bottom: 0;
    height: inherit;
}

.selected {
    background-color: rgb(150, 150, 150);
    color: black;
}

table {
    border-collapse: collapse;
}

td {
    text-align: center;
    border-bottom: 1px solid black;
    padding-left: 25px;
    padding-right: 25px;
    white-space: nowrap;
}

th {
    background-color: rgb(202, 202, 202);
    border:3px solid black;
}

#no_border {
    background-color:white;
    border:0;
}

.new-week {
    border-top: 2px solid black;
}

.new-round {
    border-top: 3px solid black;
}

.round-column {
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 0;
}

.winner-column {
    border-right: 3px solid black
}

.last-game {
    border-bottom: 3px solid black;
}
