table(cellpadding="5")
    thead
        tr
            th.no_border
            th Date
            th Time
            th Visitors
            th Home
            th Field
            th.last_column Winner
    tbody
        tr
            td.top_round 
            td 9/9/2018
            td 9 AM
            td Saints
            td Leones
            td Pauma
            td.last_column Saints
        tr
            td.middle_rounds 
            td 9/16/2018
            td 9 AM
            td Leones
            td Saints
            td Orange Glen H.S.
            td.last_column Saints
        tr
            td.middle_rounds Semi
            td.date_break 9/16/2018
            td.date_break 12:30 PM
            td.date_break Saints
            td.date_break Leones
            td.date_break Orange Glen H.S.
            td.last_column_break N/A
        tr
            td.middle_rounds Finals
            td 9/9/2018
            td 12:30 PM
            td Nationals
            td Toros
            td Pauma
            td.last_column Toros
        tr
            td.middle_rounds 
            td 9/16/2018
            td 9 AM
            td Toros
            td Nationals
            td Pauma
            td.last_column Toros
        tr.last_row 
            td.middle_rounds 
            td.date_break 9/16/2018
            td.date_break 12:30 PM
            td.date_break Nationals
            td.date_break Toros
            td.date_break Pauma
            td.last_column_break N/A
        tr
            td.top_round 
            td 9/23/2018
            td 9 AM
            td Toros
            td Saints
            td Orange Glen H.S.
            td.last_column Toros
        tr
            td.middle_rounds Finals
            td 9/30/2018
            td 9 AM
            td Saints
            td Toros
            td Pauma
            td.last_column Toros
        tr.last_row 
            td.middle_rounds 
            td.date_break 9/30/2018
            td.date_break 12:30 PM
            td.date_break Saints
            td.date_break Toros
            td.date_break Pauma
            td.last_column_break N/A