doctype html
html(lang="en")
    head
        titleNorth County Baseball League
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css")
        link(rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet" href="css/styles.css")
    body
        //- Navbar
        .w3-top
            .w3-bar.w3-theme.w3-top.w3-left-align.w3-large
                a.w3-bar-item.w3-theme-l1 NCBL

        //- Overlay effect when opening sidebar on small screens
        #myOverlay.w3-overlay.w3-hide-large(onclick="closeSidebar()" style="cursor:pointer" title="close side menu")

        //- Main content: shift it to the right by 250 pixels when the sidebar is visible
        .w3-main(style="margin-left:250px")
            .w3-row.w3-padding-64
                .w3-twothird.w3-container
                    h1.w3-text-black Welcome to the North County Baseball League
                    br
                    a.classic(href="HTML/FallSeason2018/FallSeason2018.html") 2018-2019 Fall Season
                    br
                    a.classic(href="HTML/SpringSeason2018/SpringSeason2018.html") 2018 Spring Season

        script
            include sidebarController.js
