doctype html
html(lang="en")
    head
        title North County Baseball League
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css")
        link(rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet" href="/css/styles.css")
    body
        //- Navbar
        .w3-top
            .w3-bar.w3-theme.w3-top.w3-left-align.w3-large
                a.w3-bar-item.w3-button.w3-right.w3-hide-large.w3-hover-white.w3-large.w3-theme-l1(href="javascript:void(0)" onclick="openSidebar()")
                        i.fa.fa-bars
                a.w3-bar-item.w3-button.w3-theme-l1(href="/") NCBL

        //- Sidebar
        nav#mySidebar.w3-sidebar.w3-bar-block.w3-collapse.w3-large.w3-theme-l5.w3-animate-left
            a.w3-right.w3-xlarge.w3-padding-large.w3-hover-black.w3-hide-large(href="javascript:void(0)" onclick="closeSidebar()" title="Close Menu")
                i.fa.fa-remove
            h4.w3-bar-item
                b Menu
            each item in sidebar
                if item.title == 'Rosters'
                    a.w3-bar-item.selected= item.title
                else
                    a.w3-bar-item.w3-button.w3-hover-black(href=item.link)= item.title

        //- Overlay effect when opening sidebar on small screens
        #myOverlay.w3-overlay.w3-hide-large(onclick="closeSidebar()" style="cursor:pointer" title="close side menu")

        //- Main content: shift it to the right by 250 pixels when the sidebar is visible
        .w3-main(style="margin-left:250px")
            .w3-row.w3-padding-64
                .w3-twothird.w3-container
                    h1.w3-text-black= title
                    table.rostersTable
                        thead
                            tr
                                th.team A's
                                th.team Leones
                                th.team Nationals
                            tr
                                th#as Coach: Angel Dominguez
                                th#leones Coach: Lupe Ibarra
                                th#nationals Coach: Rafael Garcia
                        tbody
                            tr
                                td
                                    table(cellpadding="5")
                                        thead
                                            tr
                                                th #
                                                th Name
                                        tbody
                                            tr
                                                td 1
                                                td Angel Dominguez
                                            tr
                                                td 2
                                                td Oscar Meza
                                            tr
                                                td 3
                                                td Jr Torres
                                            tr
                                                td 4
                                                td Ismael Vergara
                                            tr
                                                td 5
                                                td Juan Gutierrez
                                            tr
                                                td 6
                                                td Lewis Valle
                                            tr
                                                td 7
                                                td Alex Lopez
                                            tr
                                                td 8
                                                td Oso Lopez
                                            tr
                                                td 9
                                                td Mingo Alvares
                                            tr
                                                td 10
                                                td Jay Jolly
                                            tr
                                                td 11
                                                td Gollo Aguila
                                            tr
                                                td 12
                                                td Moy Sandoval
                                            tr
                                                td 13
                                                td Chuy Leyva
                                            tr
                                                td 14
                                                td Eddie Carrillo
                                            tr
                                                td 15
                                                td Ray Gutierres
                                            tr
                                                td 16
                                                td Juan Lopez
                                td 
                                    table(cellpadding="5")
                                        thead
                                            tr
                                                th #
                                                th Name
                                        tbody
                                            tr
                                                td 1
                                                td Lupe Ibarra
                                            tr
                                                td 2
                                                td Fernando Ibarra
                                            tr
                                                td 3
                                                td Andres Ibarra
                                            tr
                                                td 4
                                                td Pedro Ibarra
                                            tr
                                                td 5
                                                td Memo Ibarra
                                            tr
                                                td 6
                                                td Senon Sanones
                                            tr
                                                td 7
                                                td Carlos Alvarez
                                            tr
                                                td 8
                                                td Marselo Arias
                                            tr
                                                td 9
                                                td Chase Martines
                                            tr
                                                td 10
                                                td Ector Rico
                                            tr
                                                td 11
                                                td Ector H
                                            tr
                                                td 12
                                                td Jose Franco
                                            tr
                                                td 13
                                                td Jesus Cardenas
                                            tr
                                                td 14
                                                td Jesus Cardenas Jr.
                                            tr
                                                td 15
                                                td Victor
                                            tr
                                                td 16
                                                td Pedro Ibarra Jr.
                                td 
                                    table(cellpadding="5")
                                        thead
                                            tr
                                                th #
                                                th Name
                                        tbody
                                            tr
                                                td 1
                                                td Rafael Garcia
                                            tr
                                                td 2
                                                td Mike Flores
                                            tr
                                                td 3
                                                td Albert Garcia
                                            tr
                                                td 4
                                                td Alex Flores
                                            tr
                                                td 5
                                                td Oscar Juarez
                                            tr
                                                td 6
                                                td Hector Torrez
                                            tr
                                                td 7
                                                td Mike Pencille
                                            tr
                                                td 8
                                                td Angel Guzman
                                            tr
                                                td 9
                                                td Luiz Martinez
                                            tr
                                                td 10
                                                td Richard Castrellon
                                            tr
                                                td 11
                                                td Rosclio Flores
                                            tr
                                                td 12
                                                td Richard Ayala
                                            tr
                                                td 13
                                                td Nicolas Ayala
                                            tr
                                                td 14
                                                td Jessie Ochoa
                                            tr
                                                td 15
                                                td Jessie Sotelo
                                            tr
                                                td 16
                                                td Jesus Duran
                    table.rostersTable
                            thead
                                tr
                                    th.team Royals
                                    th.team Saints
                                    th.team Toros
                                tr
                                    th#royals Coach: Jose de Leon
                                    th.saints Coach: Santos Magallanes
                                    th#toros Coach: Pedro I. Sr.
                                tr
                                    th 
                                    th.saints Assistant Coach: Art Betamen
                                    th 
                            tbody
                                td 
                                    table(cellpadding="5")
                                        thead
                                            tr
                                                th #
                                                th Name
                                        tbody
                                            tr
                                                td 1
                                                td Jose de Leon
                                            tr
                                                td 2
                                                td Hermilo Ariza
                                            tr
                                                td 3
                                                td Lorenzo Lopez
                                            tr
                                                td 4
                                                td Marcos Soto
                                            tr
                                                td 5
                                                td Victor Soto
                                            tr
                                                td 6
                                                td Jaime Rocha
                                            tr
                                                td 7
                                                td Felix Ramirez
                                            tr
                                                td 8
                                                td Uriel Leyva
                                            tr
                                                td 9
                                                td Mauro Mendez
                                            tr
                                                td 10
                                                td Jose Espinoza
                                            tr
                                                td 11
                                                td Jay Mayers
                                            tr
                                                td 12
                                                td Elias Zepeda
                                            tr
                                                td 13
                                                td Issac Zepeda
                                            tr
                                                td 14
                                                td Angel Cholula
                                            tr
                                                td 15
                                                td Miguel Herrera
                                            tr
                                                td 16
                                                td Moses Ghosh
                                td 
                                    table(cellpadding="5")
                                        thead
                                            tr
                                                th #
                                                th Name
                                        tbody
                                            tr
                                                td 2
                                                td Santana Ocegueda
                                            tr
                                                td 3
                                                td Zeke Magallanes
                                            tr
                                                td 4
                                                td Brooks Martello
                                            tr
                                                td 6
                                                td Eli Magallanes
                                            tr
                                                td 8
                                                td Tony Leishmann
                                            tr
                                                td 12
                                                td Santos Magallanes
                                            tr
                                                td 17
                                                td Clay Morgan
                                            tr
                                                td 18
                                                td Jesse Magallanes
                                            tr
                                                td 19
                                                td Ryan Ocegueda
                                            tr
                                                td 20
                                                td Lupe Robles
                                            tr
                                                td 23
                                                td Jair Santos
                                            tr
                                                td 24
                                                td Nate Meza
                                            tr
                                                td 26
                                                td Monty Navarro
                                            tr
                                                td 29
                                                td CJ Gutierrez
                                            tr
                                                td 35
                                                td Juan Robles
                                            tr
                                                td 42
                                                td Andrew Magallanes
                                td 
                                    table(cellpadding="5")
                                        thead
                                            tr
                                                th #
                                                th Name
                                        tbody
                                            tr
                                                td 1
                                                td Jaime Orosco
                                            tr
                                                td 2
                                                td Mark Orosco
                                            tr
                                                td 3
                                                td Marin Hernandez
                                            tr
                                                td 4
                                                td Paz Hernandez
                                            tr
                                                td 5
                                                td Erik Arevalo
                                            tr
                                                td 6
                                                td Ruben Nava
                                            tr
                                                td 7
                                                td Ruben Nava Jr.
                                            tr
                                                td 8
                                                td Pedro I. Sr.
                                            tr
                                                td 9
                                                td Pedro I. Jr.
                                            tr
                                                td 10
                                                td Christian Ibarra
                                            tr
                                                td 11
                                                td Omar Garcia
                                            tr
                                                td 12
                                                td Arnoldo Ceja
                                            tr
                                                td 13
                                                td Sam Martin
                                            tr
                                                td 14
                                                td Saul Sandoval
                                            tr
                                                td 15
                                                td Jose Rodriguez
                                            tr
                                                td 16
                                                td Mike Garcia

        script.
            // Get the Sidebar
            var mySidebar = document.getElementById("mySidebar");

            // Get the DIV with overlay effect
            var overlayBg = document.getElementById("myOverlay");

            // Toggle between showing and hiding the sidebar, and add overlay effect
            function openSidebar() {
                if (mySidebar.style.display === 'block') {
                    mySidebar.style.display = 'none';
                    overlayBg.style.display = "none";
                } else {
                    mySidebar.style.display = 'block';
                    overlayBg.style.display = "block";
                }
            }

            // Close the sidebar with the close button
            function closeSidebar() {
                mySidebar.style.display = "none";
                overlayBg.style.display = "none";
            }
