doctype html
html(lang="en")
    head
        title North County Baseball League
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css")
        link(rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet" href="/css/styles.css")
    body
        //- Navbar
        .w3-top
            .w3-bar.w3-theme.w3-top.w3-left-align.w3-large
                a.w3-bar-item.w3-button.w3-right.w3-hide-large.w3-hover-white.w3-large.w3-theme-l1(href="javascript:void(0)" onclick="openSidebar()")
                        i.fa.fa-bars
                a.w3-bar-item.w3-button.w3-theme-l1(href="/") NCBL

        //- Sidebar
        nav#mySidebar.w3-sidebar.w3-bar-block.w3-collapse.w3-large.w3-theme-l5.w3-animate-left
            a.w3-right.w3-xlarge.w3-padding-large.w3-hover-black.w3-hide-large(href="javascript:void(0)" onclick="closeSidebar()" title="Close Menu")
                i.fa.fa-remove
            h4.w3-bar-item
                b Menu
            each item in sidebar
                if item.title == 'Schedule'
                    a.w3-bar-item.selected= item.title
                else
                    a.w3-bar-item.w3-button.w3-hover-black(href=item.link)= item.title

        //- Overlay effect when opening sidebar on small screens
        #myOverlay.w3-overlay.w3-hide-large(onclick="closeSidebar()" style="cursor:pointer" title="close side menu")

        //- Main content: shift it to the right by 250 pixels when the sidebar is visible
        .w3-main(style="margin-left:250px")
            .w3-row.w3-padding-64
                .w3-twothird.w3-container
                    h1.w3-text-black= title
                    table(cellpadding="5")
                        thead
                            tr
                                th.no_border
                                th Date
                                th Time
                                th Visitors
                                th Home
                                th Field
                                th Winner
                        tbody
                            tr
                                td.top_round 
                                td.date 10/21/2018
                                td 9 AM
                                td.away A's
                                td.home Pauma
                                td Pauma
                                td.last_column.winner Pauma
                            tr
                                td.middle_rounds 
                                td.date 10/21/2018
                                td 12:30 PM
                                td.away Toros
                                td.home Tomateros
                                td Pauma
                                td.last_column.winner Toros
                            tr
                                td.middle_rounds 
                                td.date 10/21/2018
                                td 9 AM
                                td.away Nationals
                                td.home Saints
                                td Orange Glen
                                td.last_column.winner Saints
                            tr
                                td.middle_rounds 
                                td.date_break.date 10/21/2018
                                td.date_break BYE
                                td.date_break.away Royals
                                td.date_break.home 
                                td.date_break 
                                td.last_column_break.winner 
                            tr
                                td.middle_rounds 
                                td.date 10/28/2018
                                td 10 AM
                                td.away Pauma
                                td.home Toros
                                td Pauma
                                td.last_column.winner Pauma
                            tr
                                td.middle_rounds 
                                td.date 10/28/2018
                                td 9 AM
                                td.away Nationals
                                td.home Royals
                                td Valley Center
                                td.last_column.winner Nationals
                            tr
                                td.middle_rounds 
                                td.date 10/28/2018
                                td 9 AM
                                td.away Saints
                                td.home Tomateros
                                td Orange Glen
                                td.last_column.winner Saints
                            tr
                                td.middle_rounds 
                                td.date_break.date 10/28/2018
                                td.date_break BYE
                                td.date_break.away A's
                                td.date_break.home 
                                td.date_break 
                                td.last_column_break.winner 
                            tr
                                td.middle_rounds 
                                td.date 11/4/2018
                                td 9 AM
                                td.away Pauma
                                td.home Nationals
                                td Pauma
                                td.last_column.winner Pauma
                            tr
                                td.middle_rounds 
                                td.date 11/4/2018
                                td 12:30 PM
                                td.away Tomateros
                                td.home A's
                                td Pauma
                                td.last_column.winner Tomateros
                            tr
                                td.middle_rounds 
                                td.date 11/4/2018
                                td 9 AM
                                td.away Royals
                                td.home Saints
                                td Orange Glen
                                td.last_column.winner Saints
                            tr
                                td.middle_rounds 
                                td.date_break.date 11/4/2018
                                td.date_break BYE
                                td.date_break.away Toros
                                td.date_break.home 
                                td.date_break 
                                td.last_column_break.winner 
                            tr
                                td.middle_rounds 
                                td.date 11/11/2018
                                td 10 AM
                                td.away Tomateros
                                td.home Nationals
                                td Pauma
                                td.last_column.winner Nationals
                            tr
                                td.middle_rounds Round 1
                                td.date 11/11/2018
                                td 10 AM
                                td.away A's
                                td.home Royals
                                td Valley Center
                                td.last_column.winner A's
                            tr
                                td.middle_rounds 
                                td.date 11/11/2018
                                td 9 AM
                                td.away Toros
                                td.home Saints
                                td Orange Glen
                                td.last_column.winner Saints
                            tr
                                td.middle_rounds 
                                td.date_break.date 11/11/2018
                                td.date_break  BYE
                                td.date_break.away Pauma
                                td.date_break.home 
                                td.date_break 
                                td.last_column_break.winner 
                            tr
                                td.middle_rounds 
                                td.date 11/18/2018
                                td 9 AM
                                td.away Saints
                                td.home Pauma
                                td Pauma
                                td.last_column.winner Pauma
                            tr
                                td.middle_rounds 
                                td.date 11/18/2018
                                td 12:30 PM
                                td.away Toros
                                td.home A's
                                td Pauma
                                td.last_column.winner Toros
                            tr
                                td.middle_rounds 
                                td.date 11/18/2018
                                td 9 AM
                                td.away Royals
                                td.home Tomateros
                                td Valley Center
                                td.last_column.winner Tomateros
                            tr
                                td.middle_rounds 
                                td.date_break.date 11/18/2018
                                td.date_break  BYE
                                td.date_break.away Nationals
                                td.date_break.home 
                                td.date_break 
                                td.last_column_break.winner 
                            tr
                                td.middle_rounds 
                                td.date 12/2/2018
                                td 10 AM
                                td.away Nationals
                                td.home Toros
                                td Pauma
                                td.last_column.winner 
                            tr
                                td.middle_rounds 
                                td.date 12/2/2018
                                td 9 AM
                                td.away Pauma
                                td.home Royals
                                td Valley Center
                                td.last_column.winner 
                            tr
                                td.middle_rounds 
                                td.date 12/2/2018
                                td 9 AM
                                td.away Saints
                                td.home A's
                                td Orange Glen
                                td.last_column.winner 
                            tr
                                td.middle_rounds 
                                td.date_break.date 12/2/2018
                                td.date_break  BYE
                                td.date_break.away Tomateros
                                td.date_break.home 
                                td.date_break 
                                td.last_column_break.winner 
                            tr
                                td.middle_rounds 
                                td.date 12/9/2018
                                td 9 AM
                                td.away Tomateros
                                td.home Pauma
                                td Pauma
                                td.last_column.winner 
                            tr
                                td.middle_rounds 
                                td.date 12/9/2018
                                td 12:30 PM
                                td.away A's
                                td.home Nationals
                                td Pauma
                                td.last_column.winner 
                            tr
                                td.middle_rounds 
                                td.date 12/9/2018
                                td 9 AM
                                td.away Royals
                                td.home Toros
                                td Valley Center
                                td.last_column.winner 
                            tr.last_row 
                                td.bottom_round 
                                td.date 12/9/2018
                                td BYE
                                td.away Saints
                                td.home 
                                td 
                                td.last_column.winner 
                            tr
                                td.top_round 
                                td.date 12/16/2018
                                td 9 AM
                                td.away Pauma
                                td.home A's
                                td Pauma
                                td.last_column.winner 
                            tr
                                td.middle_rounds 
                                td.date 12/16/2018
                                td 12:30 PM
                                td.away Tomateros
                                td.home Toros
                                td Pauma
                                td.last_column.winner 
                            tr
                                td.middle_rounds 
                                td.date 12/16/2018
                                td 9 AM
                                td.away Saints
                                td.home Nationals
                                td Orange Glen
                                td.last_column.winner 
                            tr
                                td.middle_rounds 
                                td.date_break.date 12/16/2018
                                td.date_break BYE
                                td.date_break.away Royals
                                td.date_break.home 
                                td.date_break 
                                td.last_column_break.winner 
                            tr
                                td.middle_rounds 
                                td.date 1/6/2019
                                td 10 AM
                                td.away Toros
                                td.home Pauma
                                td Pauma
                                td.last_column.winner 
                            tr
                                td.middle_rounds 
                                td.date 1/6/2019
                                td 9 AM
                                td.away Royals
                                td.home Nationals
                                td Valley Center
                                td.last_column.winner 
                            tr
                                td.middle_rounds 
                                td.date 1/6/2019
                                td 9 AM
                                td.away Tomateros
                                td.home Saints
                                td Orange Glen
                                td.last_column.winner 
                            tr
                                td.middle_rounds 
                                td.date_break.date 1/6/2019
                                td.date_break BYE
                                td.date_break.away A's
                                td.date_break.home 
                                td.date_break 
                                td.last_column_break.winner 
                            tr
                                td.middle_rounds 
                                td.date 1/13/2019
                                td 9 AM
                                td.away Nationals
                                td.home Pauma
                                td Pauma
                                td.last_column.winner 
                            tr
                                td.middle_rounds 
                                td.date 1/13/2019
                                td 12:30 PM
                                td.away A's
                                td.home Tomateros
                                td Pauma
                                td.last_column.winner 
                            tr
                                td.middle_rounds 
                                td.date 1/13/2019
                                td 9 AM
                                td.away Saints
                                td.home Royals
                                td Orange Glen
                                td.last_column.winner 
                            tr
                                td.middle_rounds 
                                td.date_break.date 1/13/2019
                                td.date_break BYE
                                td.date_break.away Toros
                                td.date_break.home 
                                td.date_break 
                                td.last_column_break.winner 
                            tr
                                td.middle_rounds 
                                td.date 1/20/2019
                                td 10 AM
                                td.away Nationals
                                td.home Tomateros
                                td Pauma
                                td.last_column.winner 
                            tr
                                td.middle_rounds Round 2
                                td.date 1/20/2019
                                td 9 AM
                                td.away Royals
                                td.home A's
                                td Valley Center
                                td.last_column.winner 
                            tr
                                td.middle_rounds 
                                td.date 1/20/2019
                                td 9 AM
                                td.away Saints
                                td.home Toros
                                td Orange Glen
                                td.last_column.winner 
                            tr
                                td.middle_rounds 
                                td.date_break.date 1/20/2019
                                td.date_break  BYE
                                td.date_break.away Pauma
                                td.date_break.home 
                                td.date_break 
                                td.last_column_break.winner 
                            tr
                                td.middle_rounds 
                                td.date 1/27/2019
                                td 10 AM
                                td.away A's
                                td.home Toros
                                td Pauma
                                td.last_column.winner 
                            tr
                                td.middle_rounds 
                                td.date 1/27/2019
                                td 9 AM
                                td.away Tomateros
                                td.home Royals
                                td Valley Center
                                td.last_column.winner 
                            tr
                                td.middle_rounds 
                                td.date 1/27/2019
                                td 9 AM
                                td.away Pauma
                                td.home Saints
                                td Orange Glen
                                td.last_column.winner 
                            tr
                                td.middle_rounds 
                                td.date_break.date 1/27/2019
                                td.date_break  BYE
                                td.date_break.away Nationals
                                td.date_break.home 
                                td.date_break 
                                td.last_column_break.winner 
                            tr
                                td.middle_rounds 
                                td.date 2/3/2019
                                td 10 AM
                                td.away Toros
                                td.home Nationals
                                td Pauma
                                td.last_column.winner 
                            tr
                                td.middle_rounds 
                                td.date 2/3/2019
                                td 9 AM
                                td.away Royals
                                td.home Pauma
                                td Valley Center
                                td.last_column.winner 
                            tr
                                td.middle_rounds 
                                td.date 2/3/2019
                                td 9 AM
                                td.away A's
                                td.home Saints
                                td Orange Glen
                                td.last_column.winner 
                            tr
                                td.middle_rounds 
                                td.date_break.date 2/3/2019
                                td.date_break BYE
                                td.date_break.away Tomateros
                                td.date_break.home 
                                td.date_break 
                                td.last_column_break.winner 
                            tr
                                td.middle_rounds 
                                td.date 2/10/2019
                                td 9 AM
                                td.away Pauma
                                td.home Tomateros
                                td Pauma
                                td.last_column.winner 
                            tr
                                td.middle_rounds
                                td.date 2/10/2019
                                td 12:30 PM
                                td.away Nationals
                                td.home A's
                                td Pauma
                                td.last_column.winner
                            tr
                                td.middle_rounds
                                td.date 2/10/2019
                                td 9 AM
                                td.away Toros
                                td.home Royals
                                td Valley Center
                                td.last_column.winner
                            tr.last_row
                                td.bottom_round
                                td.date 2/10/2019
                                td BYE
                                td.away Saints
                                td.home
                                td
                                td.last_column.winner

        script.
            // Get the Sidebar
            var mySidebar = document.getElementById("mySidebar");

            // Get the DIV with overlay effect
            var overlayBg = document.getElementById("myOverlay");

            // Toggle between showing and hiding the sidebar, and add overlay effect
            function openSidebar() {
                if (mySidebar.style.display === 'block') {
                    mySidebar.style.display = 'none';
                    overlayBg.style.display = "none";
                } else {
                    mySidebar.style.display = 'block';
                    overlayBg.style.display = "block";
                }
            }

            // Close the sidebar with the close button
            function closeSidebar() {
                mySidebar.style.display = "none";
                overlayBg.style.display = "none";
            }

    script(src="/js/Schedule.js")
    script.
        const teams = ["A's", "Nationals", "Pauma", "Royals", "Saints", "Tomateros", "Toros"];
        
        /* Calculate wins and losses */
        //- var winnerEls = document.getElementsByClassName("winner");
        //- var homeTeamEls = document.getElementsByClassName("home");
        //- var awayTeamEls = document.getElementsByClassName("away");
        //- var winsAndLosses = calculateWinsAndLosses(winnerEls, awayTeamEls, homeTeamEls, teams);
        //- console.log(winsAndLosses);

        /* Add a delay */
        // var.dateEls = document.getElementsByClassName('date');
        // addDelaysToWeeks(dateEls, '');