doctype html
html(lang="en")
    head
        title North County Baseball League
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css")
        link(rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet" href="/css/styles.css")
    body
        //- Navbar
        .w3-top
            .w3-bar.w3-theme.w3-top.w3-left-align.w3-large
                a.w3-bar-item.w3-button.w3-right.w3-hide-large.w3-hover-white.w3-large.w3-theme-l1(href="javascript:void(0)" onclick="openSidebar()")
                        i.fa.fa-bars
                a.w3-bar-item.w3-button.w3-theme-l1(href="/") NCBL

        //- Sidebar
        nav#mySidebar.w3-sidebar.w3-bar-block.w3-collapse.w3-large.w3-theme-l5.w3-animate-left
            a.w3-right.w3-xlarge.w3-padding-large.w3-hover-black.w3-hide-large(href="javascript:void(0)" onclick="closeSidebar()" title="Close Menu")
                i.fa.fa-remove
            h4.w3-bar-item
                b Menu
            each item in sidebar
                if item.title == 'Scores'
                    a.w3-bar-item.selected= item.title
                else
                    a.w3-bar-item.w3-button.w3-hover-black(href=item.link)= item.title

        //- Overlay effect when opening sidebar on small screens
        #myOverlay.w3-overlay.w3-hide-large(onclick="closeSidebar()" style="cursor:pointer" title="close side menu")

        //- Main content: shift it to the right by 250 pixels when the sidebar is visible
        .w3-main(style="margin-left:250px")
            .w3-row.w3-padding-64
                .w3-twothird.w3-container
                    h1.w3-text-black= title

                    select#date(name='date')
                        option(value='Date') Date
                        option(value="10_21_18") 10/21/18
                        option(value="10_28_18") 10/28/18
                        option(value="11_4_18") 11/4/18
                        option(value="11_11_18") 11/11/18
                        option(value="11_18_18") 11/18/18
            
                    div
                    br
            
                    table#10_21_18.scoresTables(cellpadding='5')
                        thead
                            tr
                                th Visitors
                                th
                                th
                                th.last_column Home
                        tbody
                            tr
                                td A's
                                td.middle-column 4
                                td 12
                                td.last_column Pauma
                            tr
                                td Toros
                                td.middle-column 8
                                td 5
                                td.last_column Tomateros
                            tr.last_row
                                td Nationals
                                td.middle-column 4
                                td 5
                                td.last_column Saints
            
                    table#10_28_18.scoresTables(cellpadding='5')
                        thead
                            tr
                                th Visitors
                                th 
                                th 
                                th.last_column Home
                        tbody
                            tr
                                td Pauma
                                td.middle-column 8
                                td 3
                                td.last_column Toros
                        
                            tr
                                td Nationals
                                td.middle-column 11
                                td 2
                                td.last_column Royals
                        
                            tr.last_row
                                td Saints
                                td.middle-column 9
                                td 8
                                td.last_column Tomateros
                        
                        
                    
            
                    table#11_4_18.scoresTables(cellpadding='5')
                        thead
                            tr
                                th Visitors
                                th 
                                th 
                                th.last_column Home
                        
                        
                        tbody
                            tr
                                td Pauma
                                td.middle-column 10
                                td 0
                                td.last_column Nationals
                        
                            tr
                                td Tomateros
                                td.middle-column 7
                                td 4
                                td.last_column A's
                        
                            tr.last_row
                                td Royals
                                td.middle-column 7
                                td 9
                                td.last_column Saints
                        
                        
                    

                    table#11_11_18.scoresTables(cellpadding='5')
                        thead
                            tr
                                th Visitors
                                th 
                                th 
                                th.last_column Home
                        
                        
                        tbody
                            tr
                                td Tomateros
                                td.middle-column 0
                                td 13
                                td.last_column Nationals
                        
                            tr
                                td A's
                                td.middle-column 14
                                td 1
                                td.last_column Royals
                        
                            tr.last_row
                                td Toros
                                td.middle-column 8
                                td 10
                                td.last_column Saints
                        
                        
                    

                    table#11_18_18.scoresTables(cellpadding='5')
                        thead
                            tr
                                th Visitors
                                th 
                                th 
                                th.last_column Home
                        
                        
                        tbody
                            tr
                                td Saints
                                td.middle-column 2
                                td 6
                                td.last_column Pauma
                        
                            tr
                                td Toros
                                td.middle-column 13
                                td 6
                                td.last_column A's
                        
                            tr.last_row
                                td Royals
                                td.middle-column 0
                                td 12
                                td.last_column Tomateros

        script.
            // Get the Sidebar
            var mySidebar = document.getElementById("mySidebar");

            // Get the DIV with overlay effect
            var overlayBg = document.getElementById("myOverlay");

            // Toggle between showing and hiding the sidebar, and add overlay effect
            function openSidebar() {
                if (mySidebar.style.display === 'block') {
                    mySidebar.style.display = 'none';
                    overlayBg.style.display = "none";
                } else {
                    mySidebar.style.display = 'block';
                    overlayBg.style.display = "block";
                }
            }

            // Close the sidebar with the close button
            function closeSidebar() {
                mySidebar.style.display = "none";
                overlayBg.style.display = "none";
            }

    script.

        // Refactor out into their own file
        // Add function to bold the winner of the game

        document.addEventListener('DOMContentLoaded', function () {
            document.querySelector('select[name="date"]').onchange=changeEventHandler;
        },false);

        function changeEventHandler(event) {            
            var tablesToHide = document.getElementsByTagName('table');
            for (var i = 0; i < tablesToHide.length; i++) {
                tablesToHide[i].style.display = 'none';
            }

            var tableToShow = document.getElementById(this.value);
            if (tableToShow) {
                tableToShow.style.display = 'block';
            }
        }
