select#date(name='date')
    option(value='Date') Date
    option(value="10_21_18") 10/21/18
    option(value="10_28_18") 10/28/18
    option(value="11_4_18") 11/4/18
    option(value="11_11_18") 11/11/18
    option(value="11_18_18") 11/18/18

div
br

table#10_21_18.scoresTables(cellpadding='5')
    thead
        tr
            th Visitors
            th
            th
            th.last_column Home
    tbody
        tr
            td A's
            td.middle-column 4
            td 12
            td.last_column Pauma
        tr
            td Toros
            td.middle-column 8
            td 5
            td.last_column Tomateros
        tr.last_row
            td Nationals
            td.middle-column 4
            td 5
            td.last_column Saints

table#10_28_18.scoresTables(cellpadding='5')
    thead
        tr
            th Visitors
            th 
            th 
            th.last_column Home
    tbody
        tr
            td Pauma
            td.middle-column 8
            td 3
            td.last_column Toros
        tr
            td Nationals
            td.middle-column 11
            td 2
            td.last_column Royals
        tr.last_row
            td Saints
            td.middle-column 9
            td 8
            td.last_column Tomateros

table#11_4_18.scoresTables(cellpadding='5')
    thead
        tr
            th Visitors
            th 
            th 
            th.last_column Home
    tbody
        tr
            td Pauma
            td.middle-column 10
            td 0
            td.last_column Nationals
        tr
            td Tomateros
            td.middle-column 7
            td 4
            td.last_column A's
        tr.last_row
            td Royals
            td.middle-column 7
            td 9
            td.last_column Saints

table#11_11_18.scoresTables(cellpadding='5')
    thead
        tr
            th Visitors
            th 
            th 
            th.last_column Home
    tbody
        tr
            td Tomateros
            td.middle-column 0
            td 13
            td.last_column Nationals
        tr
            td A's
            td.middle-column 14
            td 1
            td.last_column Royals
        tr.last_row
            td Toros
            td.middle-column 8
            td 10
            td.last_column Saints

table#11_18_18.scoresTables(cellpadding='5')
    thead
        tr
            th Visitors
            th 
            th 
            th.last_column Home
    tbody
        tr
            td Saints
            td.middle-column 2
            td 6
            td.last_column Pauma
        tr
            td Toros
            td.middle-column 13
            td 6
            td.last_column A's
        tr.last_row
            td Royals
            td.middle-column 0
            td 12
            td.last_column Tomateros