table(cellpadding="5")
    thead
        tr
            th.no_border
            th Date
            th Time
            th Visitors
            th Home
            th Field
            th.last_column Winner
    tbody
        tr
            td.top_round 
            td 3/18/2018
            td 10 AM
            td.away A's
            td.home Toros
            td Pauma
            td.last_column.winner Toros
        tr
            td.middle_rounds 
            td 3/18/2018
            td 10 AM
            td.away Saints
            td.home Leones
            td Orange Glen H.S.
            td.last_column.winner Leones
        tr
            td.middle_rounds 
            td.date_break 3/18/2018
            td.date_break 10 AM
            td.date_break away Nationals
            td.date_break home Royals
            td.date_break Valley Center
            td.last_column_break.winner Nationals
        tr
            td.middle_rounds 
            td 3/25/2018
            td 10 AM
            td.away Leones
            td.home Nationals
            td Pauma
            td.last_column.winner Nationals
        tr
            td.middle_rounds 
            td 3/25/2018
            td 10 AM
            td.away A's
            td.home Royals
            td Valley Center
            td.last_column.winner Royals
        tr
            td.middle_rounds 
            td.date_break 3/25/2018
            td.date_break 9 AM
            td.date_break away Toros
            td.date_break home Saints
            td.date_break Orange Glen H.S.
            td.last_column_break.winner Toros
        tr
            td.middle_rounds 
            td 4/8/2018
            td 9 AM
            td.away Saints
            td.home A's
            td Orange Glen H.S.
            td.last_column.winner Saints
        tr
            td.middle_rounds Round 1
            td 4/8/2018
            td 10 AM
            td.away Toros
            td.home Nationals
            td Pauma
            td.last_column.winner Toros
        tr
            td.middle_rounds 
            td.date_break 4/8/2018
            td.date_break 10 AM
            td.date_break away Royals
            td.date_break home Leones
            td.date_break Valley Center
            td.last_column_break.winner Leones
        tr
            td.middle_rounds 
            td 4/15/2018
            td 10 AM
            td.away Toros
            td.home Royals
            td Valley Center
            td.last_column.winner Toros
        tr
            td.middle_rounds 
            td 4/15/2018
            td 10 AM
            td.away Leones
            td.home A's
            td Pauma
            td.last_column.winner Leones
        tr
            td.middle_rounds 
            td.date_break 4/15/2018
            td.date_break 9 AM
            td.date_break away Nationals
            td.date_break home Saints
            td.date_break Orange Glen H.S.
            td.last_column_break.winner Nationals
        tr
            td.middle_rounds 
            td 4/22/2018
            td 10 AM
            td.away A's
            td.home Nationals
            td Pauma
            td.last_column.winner Nationals
        tr
            td.middle_rounds 
            td 4/22/2018
            td 9 AM
            td.away Royals
            td.home Saints
            td Orange Glen H.S.
            td.last_column.winner Saints
        tr.last_row 
            td.bottom_round 
            td 4/22/2018
            td 10 AM
            td.away Leones
            td.home Toros
            td Valley Center
            td.last_column.winner Toros
        tr
            td.top_round 
            td 4/29/2018
            td 10 AM
            td.away Toros
            td.home A's
            td Pauma
            td.last_column.winner A's
        tr
            td.middle_rounds 
            td 4/29/2018
            td 9 AM
            td.away Leones
            td.home Saints
            td Orange Glen H.S.
            td.last_column.winner Saints
        tr
            td.middle_rounds 
            td.date_break 4/29/2018
            td.date_break 10 AM
            td.date_break away Royals
            td.date_break home Nationals
            td.date_break Valley Center
            td.last_column_break.winner Pending
        tr
            td.middle_rounds 
            td 5/6/2018
            td 10 AM
            td.away Nationals
            td.home Leones
            td Pauma
            td.last_column.winner Nationals
        tr
            td.middle_rounds 
            td 5/6/2018
            td 10 AM
            td.away Royals
            td.home A's
            td Valley Center
            td.last_column.winner A's
        tr
            td.middle_rounds 
            td.date_break 5/6/2018
            td.date_break 9 AM
            td.date_break away Saints
            td.date_break home Toros
            td.date_break Orange Glen H.S.
            td.last_column_break.winner Toros
        tr
            td.middle_rounds 
            td 5/20/2018
            td 9 AM
            td.away A's
            td.home Saints
            td Orange Glen H.S.
            td.last_column.winner A's
        tr
            td.middle_rounds Round 2
            td 5/20/2018
            td 10 AM
            td.away Nationals
            td.home Toros
            td Pauma
            td.last_column.winner Nationals
        tr
            td.middle_rounds 
            td.date_break 5/20/2018
            td.date_break 10 AM
            td.date_break away Leones
            td.date_break home Royals
            td.date_break Valley Center
            td.last_column_break.winner Leones
        tr
            td.middle_rounds 
            td 5/27/2018
            td 10 AM
            td.away Royals
            td.home Toros
            td Valley Center
            td.last_column.winner Toros
        tr
            td.middle_rounds 
            td 5/27/2018
            td 10 AM
            td.away A's
            td.home Leones
            td Pauma
            td.last_column.winner Pending
        tr
            td.middle_rounds 
            td.date_break 5/27/2018
            td.date_break 9 AM
            td.date_break away Saints
            td.date_break home Nationals
            td.date_break Orange Glen H.S.
            td.last_column_break.winner Nationals
        tr
            td.middle_rounds 
            td 6/3/2018
            td 10 AM
            td.away Nationals
            td.home A's
            td Pauma
            td.last_column.winner A's
        tr
            td.middle_rounds 
            td 6/3/2018
            td 9 AM
            td.away Saints
            td.home Royals
            td Orange Glen H.S.
            td.last_column.winner Saints
        tr.last_row 
            td.bottom_round 
            td 6/3/2018
            td 10 AM
            td.away Toros
            td.home Leones
            td Valley Center
            td.last_column.winner Leones
        tr.last_row 
            td.top_round 
            td 6/10/2018
            td 11 AM
            td#all_star_game All Star Game
            td 
            td Pauma
            td.last_column 
        tr
            td.top_round 
            td 6/17/2018
            td 10 AM
            td.away A's
            td.home Toros
            td Pauma
            td.last_column.winner A's
        tr
            td.middle_rounds 
            td 6/17/2018
            td 10 AM
            td.away Saints
            td.home Leones
            td Orange Glen H.S.
            td.last_column.winner Saints
        tr
            td.middle_rounds 
            td.date_break 6/17/2018
            td.date_break 10 AM
            td.date_break away Nationals
            td.date_break home Royals
            td.date_break Valley Center
            td.last_column_break.winner Nationals
        tr
            td.middle_rounds 
            td 6/24/2018
            td 10 AM
            td.away Leones
            td.home Nationals
            td Pauma
            td.last_column.winner Leones
        tr
            td.middle_rounds 
            td 6/24/2018
            td 10 AM
            td.away A's
            td.home Royals
            td Valley Center
            td.last_column.winner A's
        tr
            td.middle_rounds 
            td.date_break 6/24/2018
            td.date_break 1 PM
            td.date_break away Toros
            td.date_break home Saints
            td.date_break Orange Glen H.S.
            td.last_column_break.winner Saints
        tr
            td.middle_rounds 
            td 7/1/2018
            td 9 AM
            td.away Saints
            td.home A's
            td Orange Glen H.S.
            td.last_column.winner Saints
        tr
            td.middle_rounds Round 3
            td 7/1/2018
            td 10 AM
            td.away Toros
            td.home Nationals
            td Pauma
            td.last_column.winner Nationals
        tr
            td.middle_rounds 
            td.date_break 7/1/2018
            td.date_break 10 AM
            td.date_break away Royals
            td.date_break home Leones
            td.date_break Valley Center
            td.last_column_break.winner Leones
        tr
            td.middle_rounds 
            td 7/8/2018
            td 10 AM
            td.away Toros
            td.home Royals
            td Valley Center
            td.last_column.winner Toros
        tr
            td.middle_rounds 
            td 7/8/2018
            td 10 AM
            td.away Leones
            td.home A's
            td Pauma
            td.last_column.winner Leones
        tr
            td.middle_rounds 
            td.date_break 7/8/2018
            td.date_break 9 AM
            td.date_break away Nationals
            td.date_break home Saints
            td.date_break Orange Glen H.S.
            td.last_column_break.winner Nationals
        tr
            td.middle_rounds 
            td 7/15/2018
            td 10 AM
            td.away A's
            td.home Nationals
            td Pauma
            td.last_column.winner A's
        tr
            td.middle_rounds 
            td 7/15/2018
            td 9 AM
            td.away Royals
            td.home Saints
            td Orange Glen H.S.
            td.last_column.winner Saints
        tr.last_row 
            td.bottom_round 
            td 7/15/2018
            td 10 AM
            td.away Leones
            td.home Toros
            td Valley Center
            td.last_column.winner Leones
        tr
            td.top_round 
            td 7/22/2018
            td 10 AM
            td.away Toros
            td.home A's
            td Pauma
            td.last_column.winner Toros
        tr
            td.middle_rounds 
            td 7/22/2018
            td 9 AM
            td.away Leones
            td.home Saints
            td Orange Glen H.S.
            td.last_column.winner Leones
        tr
            td.middle_rounds 
            td.date_break 7/22/2018
            td.date_break 10 AM
            td.date_break away Royals
            td.date_break home Nationals
            td.date_break Valley Center
            td.last_column_break.winner Nationals
        tr
            td.middle_rounds 
            td 8/5/2018
            td 10 AM
            td.away Nationals
            td.home Leones
            td Pauma
            td.last_column.winner Leones
        tr
            td.middle_rounds 
            td 8/5/2018
            td 10 AM
            td.away Royals
            td.home A's
            td Valley Center
            td.last_column.winner A's
        tr
            td.middle_rounds 
            td.date_break 8/5/2018
            td.date_break 9 AM
            td.date_break away Saints
            td.date_break home Toros
            td.date_break Orange Glen H.S.
            td.last_column_break.winner Toros
        tr
            td.middle_rounds 
            td 8/12/2018
            td 9 AM
            td.away A's
            td.home Saints
            td Orange Glen H.S.
            td.last_column.winner Saints
        tr
            td.middle_rounds Round 4
            td 8/12/2018
            td 10 AM
            td.away Nationals
            td.home Toros
            td Pauma
            td.last_column.winner Toros
        tr
            td.middle_rounds 
            td.date_break 8/12/2018
            td.date_break 10 AM
            td.date_break away Leones
            td.date_break home Royals
            td.date_break Valley Center
            td.last_column_break.winner Leones
        tr
            td.middle_rounds 
            td 8/19/2018
            td 10 AM
            td.away Royals
            td.home Toros
            td Valley Center
            td.last_column.winner Toros
        tr
            td.middle_rounds 
            td 8/19/2018
            td 10 AM
            td.away A's
            td.home Leones
            td Pauma
            td.last_column.winner Leones
        tr
            td.middle_rounds 
            td.date_break 8/19/2018
            td.date_break 9 AM
            td.date_break away Saints
            td.date_break home Nationals
            td.date_break Orange Glen H.S.
            td.last_column_break.winner Saints
        tr
            td.middle_rounds 
            td 8/26/2018
            td 10 AM
            td.away Nationals
            td.home A's
            td Pauma
            td.last_column.winner Nationals
        tr
            td.middle_rounds 
            td 8/26/2018
            td 9 AM
            td.away Saints
            td.home Royals
            td Orange Glen H.S.
            td.last_column.winner Saints
        tr.last_row 
            td.bottom_round 
            td 8/26/2018
            td 10 AM
            td.away Toros
            td.home Leones
            td Valley Center
            td.last_column.winner Toros