table.standingsTable(cellpadding="5")
    thead
        tr
            th.no_border 
            th W
            th L
            th PCT
            th GB
            th L10
            th Streak
    tbody
        tr
            td Leones
            td.wins 13
            td.losses 6
            td.win-pct
            td.games-behind
            td 8-2
            td L1
        tr
            td Toros
            td.wins 13
            td.losses 7
            td.win-pct
            td.games-behind
            td 6-4
            td W5
        tr
            td Nationals
            td.wins 12
            td.losses 7
            td.win-pct
            td.games-behind
            td 5-5
            td W1
        tr
            td Saints
            td.wins 11
            td.losses 9
            td.win-pct
            td.games-behind
            td 7-3
            td W3
        tr
            td A's
            td.wins 8
            td.losses 11
            td.win-pct
            td.games-behind
            td 4-6
            td L3
        tr
            td Royals
            td.wins 1
            td.losses 18
            td.win-pct
            td.games-behind
            td 0-10
            td L17