table.standingsTable(cellpadding="5")
    thead
        tr
            th.no_border
            th W
            th L
            th PCT
            th GB
            th L10
            th Streak
    tbody
        tr
            td Pauma
            td.wins 4
            td.losses 0
            td.win-pct 
            td.games-behind 
            td 4-0
            td W4
        tr
            td Saints
            td.wins 4
            td.losses 1
            td.win-pct 
            td.games-behind 
            td 4-1
            td L1
        tr
            td Nationals
            td.wins 2
            td.losses 2
            td.win-pct 
            td.games-behind 
            td 2-2
            td W1
        
        tr
            td Toros
            td.wins 2
            td.losses 2
            td.win-pct 
            td.games-behind 
            td 2-2
            td W1
        
        tr
            td Tomateros
            td.wins 2
            td.losses 3
            td.win-pct 
            td.games-behind 
            td 2-3
            td W1
        
        tr
            td A's
            td.wins 1
            td.losses 3
            td.win-pct 
            td.games-behind 
            td 1-3
            td L1
        
        tr
            td Royals
            td.wins 0
            td.losses 4
            td.win-pct 
            td.games-behind 
            td 0-4
            td L4